@import '../variables';

.container{
    border-radius: 10px;
    background-color: $color-secondary;
    padding : 1rem;
}

h2{
    text-align: center;
}

.icon{
    font-size: 40px;
    width: 50px;
    height: auto;
    margin : 0 .5rem;
}

.profil-image{
    width: 100%;
    min-width: 100px;
    max-width: 200px;
    height: auto;
}

.title-informations{
    flex : 2;
}

.description{
    text-align: justify;
}

.hobbies{
    display: flex;
    flex-direction: column;
}

.language{
    justify-content :space-between;
    flex-direction: colum;
}

@media screen and (min-width : 1140px) {
    .container{
        margin-left : 12%;
    }

    .title-informations{
        flex : 4;
    }

    .hobbies{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .language{
        width: 50%;
        flex-direction: row;
    }
}