<div class="container-fluid"></div>
<div class="navbar">
    <a routerLink="/home" class="icon d-flex pb-2">
        <div class="desktop-only">Accueil</div>
        <mat-icon class="mx-2">home</mat-icon>
    </a>
    <a *ngFor="let navigation of navigations" routerLink="home" fragment="{{navigation.link}}" class="icon d-flex pb-2">
        <div class="desktop-only">{{navigation.name}}</div>
        <mat-icon class="mx-2">{{navigation.icon}}</mat-icon>
    </a>
    <a routerLink="/dashboard" class="icon d-flex pb-2">
        <div class="desktop-only">Dashboard</div>
        <mat-icon class="mx-2">dashboard</mat-icon>
    </a>
</div>



