@import '../variables';
.container-fluid{
    height: 60px;
    filter:blur(4px);
    background: linear-gradient($color-primary, rgba(0, 0, 0, 0));
    opacity: .4;
    position: fixed;
}

.icon {
    width: 13rem;
    height: 3rem;
    padding : .5rem;
    background-color : $color-primary;
    color : $color-secondary;
    position: relative;
}