@import '../variables';

.container-fluid{
    height: 60px;
    filter:blur(4px);
    background: linear-gradient($color-primary, rgba(0, 0, 0, 0));
    opacity: .4;
    position: absolute;
    top : 0;
}

.icon {
    height: 4rem;
    padding : .5rem .1rem;
    background-color : $color-primary;
    color : $color-secondary;
    position: relative;
    top : -20px;
}

.desktop-only{
    display: none;
}

a{
    text-decoration: none;
}