<section>
    <!-- A PROPOS -->
    <div
      class="card shadow mb-4"
      style="color: var(--bs-gray-900); height: auto; padding-bottom: 20px; margin-top: 0px"
    >
    <h1>A propos</h1>
        <table class="table">
            <!-- HEADER -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Adresse</th>
                    <th>Mail</th>
                    <th>Phone</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!-- CONTENU -->
            <tbody>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="col-5 col-md-2">
                        <button
                        class="mx-2"
                        mat-mini-fab
                        color="basic"
                        style="margin: 0 2px"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                        class="mx-2"
                        mat-mini-fab
                        color="warn"
                        style="margin: 3px 2px"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" colspan="12">
                        <button mat-mini-fab color="basic">
                        <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- HOBBIES -->
    <div
      class="card shadow mb-4"
      style="color: var(--bs-gray-900); height: auto; padding-bottom: 20px; margin-top: 0px"
    >
    <h1>Loisirs</h1>
        <table class="table">
            <!-- HEADER -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>Icone</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!-- CONTENU -->
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <mat-icon></mat-icon>
                    </td>
                    <td></td>
                    <td class="col-5 col-md-2">
                        <button
                        class="mx-2"
                        mat-mini-fab
                        color="basic"
                        style="margin: 0 2px"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                        class="mx-2"
                        mat-mini-fab
                        color="warn"
                        style="margin: 3px 2px"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" colspan="12">
                        <button mat-mini-fab color="basic">
                        <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- LANGUAGES -->
    <div
      class="card shadow mb-4"
      style="color: var(--bs-gray-900); height: auto; padding-bottom: 20px; margin-top: 0px"
    >
    <h1>Langues</h1>
        <table class="table">
            <!-- HEADER -->
            <thead>
                <tr>
                    <th>#</th>
                    <th>Icone</th>
                    <th>Description</th>
                    <th>Action</th>
                </tr>
            </thead>
            <!-- CONTENU -->
            <tbody>
                <tr>
                    <td></td>
                    <td>
                        <mat-icon></mat-icon>
                    </td>
                    <td></td>
                    <td class="col-5 col-md-2">
                        <button
                        class="mx-2"
                        mat-mini-fab
                        color="basic"
                        style="margin: 0 2px"
                        >
                            <mat-icon>edit</mat-icon>
                        </button>
                        <button
                        class="mx-2"
                        mat-mini-fab
                        color="warn"
                        style="margin: 3px 2px"
                        >
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td class="text-center" colspan="12">
                        <button mat-mini-fab color="basic">
                        <mat-icon>add</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</section>
  